

<div class="container">
  <form method='get' action='/'>
    <input type='text' name='word' placeholder='enter word to find anagram'/>
    <div>
    <input type='submit' value='Find Anagrams!'/></div>
  </form>

</div>

<div class='results'>

  <%= @result%>
</div>
